.ts {
  position: absolute;
  width: auto;
  height: auto;
  left: 60%;
  top: 20%;
}
.bottom {
  position: absolute;
  padding-top: 260px;
  padding-bottom: 0%;
  margin: 0%;
  left: 2%;
}
.footer {
  position: absolute;
  padding-top: 515px;
  padding-bottom: 0%;
  margin: 0%;
  left: 5%;
}
